/*.contenido img{
	max-width: 90%;
	width: 80%;
	max-height: 1em;
}*/
.ui-bar-a {
	background: #F6892C;
	background-image: linear-gradient(#F99130,#F6892C);
}
.ui-mobile a img, .ui-mobile fieldset {
	border-radius: 4px;
}
.ui-btn-up-b {
	background-image: linear-gradient(#9B358B, #9B358B);
	background: #9B358B;
	border: 1px solid #9B358B;
}
.ui-btn-hover-b{
	background-image: linear-gradient(#9B358B, #9B358B);
	background: #9B358B;
	border: 1px solid #9B358B;	
}
#home>div>img{
	margin-top: -1px;
	width: 2.5em;
}
#noticia>div>img{
	border-radius: 4px;
	max-height: 40%;
	width: 100%;
}
.ui-btn-up-a {
	background: #F6892C;
	background-image: linear-gradient(#F99130,#F6892C);
	border: 1px solid #111;
}
.ui-btn-hover-a {
	background: #F6892C;
	background-image: linear-gradient(#F99130,#F6892C);
}
#home>div>h2, #noticia>div>h2 {
	text-align: center;
	margin: 0.6em 0 0.8em 0;
	width: 100%;
}
.ui-li-heading {
	white-space: normal;
}