<!DOCTYPE html>
<html lang="es-mx">
	<head>
		<meta charset="utf-8" />
		<title>Instituto Tecnológico de Culiacán</title>
		<meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

		<link rel="stylesheet" type="text/css" href="css/vendor/jquery.mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/estilo.css" />

		<script type="text/javascript" src="js/vendor/jquery.js"></script>
		<script type="text/javascript" src="js/vendor/jquery.mobile.js"></script>
		<script type="text/javascript" src="js/vendor/swig.js"></script>
		<script type="text/javascript" src="js/main.js"></script>

	</head>
	<body>

		<div id="home" data-role="page">
			<div id="header" data-role="header">
				<h2>Instituto Tecnológico de Culiacán</h2>
			</div>
			<div data-role="content">
				<a href="#" data-role="button" data-icon="refresh">Actualizar</a>
				<div id="importante_collapse" data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
					<h4>Avisos Importantes</h4>
					<ul id="importante" data-role="listview" data-inset="true">
						
					</ul>
				</div>
				<div id="noticia_collapse" data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
					<h4>Noticias</h4>
					<ul id="noticia" data-role="listview" data-inset="true">
						
					</ul>
				</div>
			</div>
		</div>

		<div id="noticia" data-role="page">
			<div data-role="header">
				<h2>Instituto Tecnológico de Culiacán</h2>
			</div>
			<div id="contenido" data-role="content">
			</div>
		</div>


		<script id="lista" type="text/template" charset="utf-8">
			<li data-url="{{ link }}" data-title="{{ title }}">
				<a href="#noticia">
					<!--<img width="80" height="80" src="{{ image }}" />-->
					<h2>{{ title }}</h2>
					<p>{{ desc }}</p>
				</a>
			</li>
		</script>

	</body>
</html>